<div class="container">
    <form>
        <div class="form-header">
            <h1 class="form-title">Novo usuário</h1>
        </div>
        <div class="form-content">
            <div class="input-container" style="grid-area: fn">
              <label class="input-label" for="nome">Primeiro nome:</label>
              <app-styled-input></app-styled-input>
            </div>

            <div class="input-container" style="grid-area: ln">
                <label class="input-label" for="nome">Último nome:</label>
                <app-styled-input></app-styled-input>
              </div>

              <div class="input-container" style="grid-area: email">
                <label class="input-label" for="nome">Email:</label>
                <app-styled-input></app-styled-input>
              </div>

              <div class="input-container" style="grid-area: pass">
                <label class="input-label" for="nome">Senha:</label>
                <app-styled-input></app-styled-input>
              </div>

              <div class="input-container" style="grid-area: btn;">
                <div styled-button>
               
                </div>
              </div>
        </div>
        
    </form>
</div>
